<!DOCTYPE html>
<head>
    <head>
        <title>홈 화면</title>
        <meta charset="UTF-8">
    </head>
    <link rel="stylesheet" href="public/style/home-style.css">
<body>
<img src="public/src/agduck.png" alt="agDuck"
     class="agDuck agDuck1"/>
<img src="public/src/agduck.png" alt="agDuck"
     class="agDuck agDuck2"/>
<img src="public/src/agduck.png" alt="agDuck"
     class="agDuck agDuck3"/>
<img src="public/src/agduck.png" alt="agDuck"
     class="agDuck agDuck4 rotate"/>
<img src="public/src/agduck.png" alt="agDuck"
     class="agDuck agDuck5"/>
<img src="public/src/agduck.png" alt="agDuck"
     class="agDuck agDuck6 rotate"/>
<img src="public/src/agduck.png" alt="agDuck"
     class="agDuck agDuck7"/>
<img src="public/src/agmung.png" alt="agMung"
     class="agMung agMung1 rotate"/>
<img src="public/src/agmung.png" alt="agMung"
     class="agMung agMung2"/>
<img src="public/src/agmung.png" alt="agMung"
     class="agMung agMung3"/>
<img src="public/src/agmung.png" alt="agMung"
     class="agMung agMung4"/>
<img src="public/src/agmung.png" alt="agMung"
     class="agMung agMung5"/>
<img src="public/src/agmung.png" alt="agMung"
     class="agMung agMung6"/>
<div class="home-container">
    <h1 class="home">
        <span class="accent-color">&lt;P</span>
        re -
        <span class="accent-color">A</span>
        lgorus
        <span class="accent-color"> /&gt; </span>
    </h1>
    <h3>
        <span class="accent-color"> 백준 </span>
        아이디 체크
    </h3>
    <form method="post" action="/user/check_boj_id">
        <input name="name" placeholder="이름" class="input"/>
        <input name="student_id" placeholder="학번" class="input"/>
        <input type="submit" class="submitBtn"/>
    </form>
    <h3>출석 현황 체크</h3>
    <form method="post" action="/user/chek_attendance">
        <input name="name" placeholder="이름">
        <input name="student_id" placeholder="학번">    
        <select name="week_num">
            <option value="">주차 선택</option>
            <option value="1">1주차</option>
        </select>
        <input type="submit" class="submitBtn"/>
    </form>
</body>
</head>
