<!DOCTYPE html>
<head>
    <head>
        <title>홈 화면</title>
        <meta charset="UTF-8">
    </head>
    <link rel="stylesheet" href="style/home-style.css">
<body>
<div id='img_container'></div>
<div class="home-container">
    <h1 class="home">
        <span class="accent-color">&lt;P</span>
        re -
        <span class="accent-color">A</span>
        lgorus
        <span class="accent-color"> /&gt; </span>
    </h1>
    <h3>
        <span class="accent-color"> 백준 </span>
        아이디 체크
    </h3>
    <form method="post" action="/user/check_boj_id">
        <input name="name" placeholder="이름" class="input"/>
        <input name="student_id" placeholder="학번" class="input"/>
        <input type="submit" class="submitBtn"/>
    </form>
    <h3>출석 현황 체크</h3>
    <form method="post" action="/user/chek_attendance" id="attendance_form">
        <input name="name" placeholder="이름">
        <input name="student_id" placeholder="학번">    
        <select name="week_num" id="week_num">
            <option value="">주차 선택</option>
            <option value="1">1주차</option>
        </select>
        <input type="submit" class="submitBtn"/>
    </form>
    <script type="text/javascript" src="js/spawn_duck_mung.js"></script>
    <script>
        document.getElementById('attendance_form').addEventListener('submit', function() {
            var weekNum = document.getElementById('week_num').value;
            if (weekNum) {
                console.log(this.action);
                this.action = "/user/chek_attendance";
                this.action += '/' + weekNum;
            }
        });
    </script>
</body>
</head>
